* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.todo {
    margin: 30px;
    background-color: #66bf3c;
}
.todo__inner {
    padding: 20px;
}
.todo__row {
    display: flex;
    justify-content: space-between;
}